Repository hyper63/hyper: changes, and which lint-staged commands are due for each by the changed paths.
All: deno fmt, deno run -A --no-lock npm:markdown-toc-gen@1 insert

chore(nano): release 3.0.0
  images/nano/egg.json
  images/nano/package-lock.json
  images/nano/package.json
Due: deno fmt

refactor(app-express): bump deps. Full test harness. organize main
  packages/app-express/api/mod.ts
  packages/app-express/deno.lock
  packages/app-express/deps.ts
  packages/app-express/dev_deps.ts
  packages/app-express/harness.ts
  packages/app-express/main.ts
Due: deno fmt

chore(app-opine): add deprecation notice to README
  packages/app-opine/README.md
Due: deno fmt, deno run -A --no-lock npm:markdown-toc-gen@1 insert

style(connect): deno fmt
  packages/connect/README.md
  packages/connect/deno/services/storage.ts
Due: deno fmt, deno run -A --no-lock npm:markdown-toc-gen@1 insert

docs(app-opine): fix typo
  packages/app-opine/README.md
Due: deno fmt, deno run -A --no-lock npm:markdown-toc-gen@1 insert

chore(core): bump deps
  packages/core/deno.lock
  packages/core/deps.ts
  packages/core/dev_deps.ts
Due: deno fmt

chore(core): regen lockfile
  packages/core/deno.lock
Due: none

chore: remove rfcs folder
  .vscode/settings.json
  rfcs/0000-template.md
  rfcs/README.md
Due: deno fmt, deno run -A --no-lock npm:markdown-toc-gen@1 insert

chore(connect): bump deps. Remove deno shim dep as its unused
  packages/connect/deno/shim.node.ts
  packages/connect/package.json
  packages/connect/yarn.lock
Due: deno fmt

chore(connect): release 0.11.0
  packages/connect/CHANGELOG.md
  packages/connect/egg.json
  packages/connect/package.json
Due: deno fmt

chore(connect): remove duplex option except for storage.upload
  packages/connect/deno/utils/hyper-request.ts
Due: deno fmt

feat(docs): initial scaffolding #617
  docs/.gitignore
  docs/package.json
  docs/src/.vitepress/config.mjs
  docs/src/.vitepress/theme/index.js
  docs/src/.vitepress/theme/style.css
  docs/src/api-examples.md
  docs/src/docs/api-reference/index.md
  docs/src/docs/api-reference/rest/cache.md
  docs/src/docs/api-reference/rest/data.md
  docs/src/docs/api-reference/rest/index.md
  docs/src/docs/api-reference/rest/queue.md
  docs/src/docs/api-reference/rest/search.md
  docs/src/docs/api-reference/rest/storage.md
  docs/src/docs/build/custom-adapter.md
  docs/src/docs/build/custom-app.md
  docs/src/docs/build/custom-middleware.md
  docs/src/docs/build/index.md
  docs/src/docs/concepts/clean-cloud-architecture.md
  docs/src/docs/concepts/ports-and-adapters.md
  docs/src/docs/concepts/terminology.md
  docs/src/docs/concepts/why.md
  docs/src/docs/host/hyper-config.md
  docs/src/docs/host/index.md
  docs/src/docs/index.md
  docs/src/index.md
  docs/src/markdown-examples.md
  docs/src/public/SpaceGrotesk.ttf
  docs/src/public/all.svg
  docs/src/public/logo.svg
  docs/src/public/pentagon.svg
  docs/yarn.lock
Due: deno fmt

ci(docs): add workflow to publish to GitHub Pages #617
  .github/workflows/docs.yml
  docs/src/.vitepress/config.mjs
Due: none

chore: remove unused workflows
  .github/workflows/app-opine.yml
  .github/workflows/publish-app-graphql.yml
Due: none

chore: force image rebuild
  .gitpod.Dockerfile
Due: none

feat(connect): add queue.create and queue.destroy #619
  packages/connect/deno/mod.ts
  packages/connect/deno/services/queue.ts
  packages/connect/deno/tests/queue.test.ts
  packages/connect/deno/types.ts
Due: deno fmt

chore(connect): ts error in tests and formatting
  packages/connect/deno.json
  packages/connect/deno/tests/cache.test.ts
  packages/connect/deno/tests/data.test.ts
  packages/connect/deno/tests/hyper-verify.test.ts
  packages/connect/deno/tests/search.test.ts
  packages/connect/deno/tests/storage.test.ts
  packages/connect/node/tests/hyper-verify.js
Due: deno fmt

chore(connect): release 0.12.0
  packages/connect/CHANGELOG.md
  packages/connect/egg.json
  packages/connect/package.json
Due: deno fmt

fix(core): pass specific status to HyperErr on known errors and bubble as non fatal #621
  packages/core/deno.lock
  packages/core/lib/cache/doc.ts
  packages/core/lib/cache/mod.test.ts
  packages/core/lib/cache/store.ts
  packages/core/lib/data/db.ts
  packages/core/lib/queue/mod.test.ts
  packages/core/lib/queue/queue.ts
  packages/core/lib/utils/err.test.js
  packages/core/lib/utils/mod.ts
  packages/core/mod.test.ts
Due: deno fmt

test(app-express): stop test harness at end of every test
  packages/app-express/api/cache.test.ts
  packages/app-express/api/crawler.test.ts
  packages/app-express/api/data.test.ts
  packages/app-express/api/queue.test.ts
  packages/app-express/api/search.test.ts
  packages/app-express/api/storage.test.ts
  packages/app-express/middleware/json.test.ts
  packages/app-express/middleware/legacyGet.test.ts
  packages/app-express/types.ts
Due: deno fmt

chore(core): release 4.3.3
  packages/core/egg.json
Due: deno fmt

chore(nano): bump deps. Update MongoDB version 7.0.4 -> 7.0.11
  images/nano/deno.jsonc
  images/nano/deno.lock
  images/nano/deps.js
  images/nano/hyper.config.js
  images/nano/main.test.js
Due: deno fmt

chore(nano): pin deno version in compiled binaries #623
  .github/workflows/image-nano.yml
Due: none

chore(nano): release 3.0.1
  images/nano/egg.json
  images/nano/package-lock.json
  images/nano/package.json
Due: deno fmt

chore(repo,port-cache): migrate to deno 2
  .github/workflows/port-cache.yml
  .husky/pre-commit
  deno.json
  deno.jsonc
  packages/port-cache/deno.json
  packages/port-cache/deno.jsonc
  packages/port-cache/deno.lock
  packages/port-cache/deps.ts
  packages/port-cache/dev_deps.ts
  packages/port-cache/egg.json
  packages/port-cache/mod.test.ts
  packages/port-cache/port.ts
Due: deno fmt

chore(repo): bump deps and migrate to deno 2
  .husky/pre-commit
  deno.json
  deno.jsonc
  deno.lock
Due: deno fmt

refactor(port-cache): move to deno 2 and refactor usages
  .github/workflows/port-cache.yml
  packages/port-cache/README.md
  packages/port-cache/deno.json
  packages/port-cache/deno.jsonc
  packages/port-cache/deno.lock
  packages/port-cache/deps.ts
  packages/port-cache/dev_deps.ts
  packages/port-cache/egg.json
  packages/port-cache/mod.js
  packages/port-cache/mod.test.ts
  packages/port-cache/port.ts
Due: deno fmt, deno run -A --no-lock npm:markdown-toc-gen@1 insert

chore(port-cache): release 2.0.1
  packages/port-cache/deno.json
  packages/port-cache/egg.json
Due: deno fmt

chore(repo): use deno lock in repo deps
  deno.json
  deno.lock
Due: deno fmt

refactor(port-data): move to deno 2 and refactor usages
  .github/workflows/port-data.yml
  packages/port-cache/README.md
  packages/port-data/README.md
  packages/port-data/deno.json
  packages/port-data/deno.jsonc
  packages/port-data/deno.lock
  packages/port-data/deps.ts
  packages/port-data/dev_deps.ts
  packages/port-data/egg.json
  packages/port-data/mod.js
  packages/port-data/mod.test.ts
  packages/port-data/port.ts
Due: deno fmt, deno run -A --no-lock npm:markdown-toc-gen@1 insert

chore(port-data): release 2.3.1
  packages/port-data/deno.json
  packages/port-data/egg.json
Due: deno fmt

refactor(port-storage): move to deno 2 and refactor usages
  .github/workflows/port-storage.yml
  packages/port-cache/README.md
  packages/port-data/README.md
  packages/port-storage/README.md
  packages/port-storage/deno.json
  packages/port-storage/deno.jsonc
  packages/port-storage/deno.lock
  packages/port-storage/deps.ts
  packages/port-storage/dev_deps.ts
  packages/port-storage/egg.json
  packages/port-storage/mod.js
  packages/port-storage/mod.test.ts
  packages/port-storage/port.ts
Due: deno fmt, deno run -A --no-lock npm:markdown-toc-gen@1 insert

Path conditions:
  deno fmt: (any of: **/*.{md,json,js,ts}) or (any of: **/README.md)
  deno run -A --no-lock npm:markdown-toc-gen@1 insert: any of: **/README.md
