Repository hyper63/hyper: changes, and which lint-staged commands are due for each by the changed paths.
All: deno fmt, deno run -A --no-lock npm:markdown-toc-gen@1 insert

refactor(port-queue): move to deno 2 and refactor usages
  .github/workflows/port-queue.yml
  packages/port-queue/README.md
  packages/port-queue/deno.json
  packages/port-queue/deno.jsonc
  packages/port-queue/deno.lock
  packages/port-queue/deps.ts
  packages/port-queue/dev_deps.ts
  packages/port-queue/egg.json
  packages/port-queue/mod.js
  packages/port-queue/mod.test.ts
  packages/port-queue/port.ts
Due: deno fmt, deno run -A --no-lock npm:markdown-toc-gen@1 insert

chore(port-queue): release 0.3.1
  packages/port-queue/deno.json
  packages/port-queue/egg.json
Due: deno fmt

ci(port-queue): add missing permissions to jsr publish
  .github/workflows/port-queue.yml
Due: none

refactor(port-search): move to deno 2 and refactor usages
  .github/workflows/port-search.yml
  packages/port-search/README.md
  packages/port-search/deno.json
  packages/port-search/deno.jsonc
  packages/port-search/deno.lock
  packages/port-search/deps.ts
  packages/port-search/dev_deps.ts
  packages/port-search/egg.json
  packages/port-search/mod.js
  packages/port-search/mod.test.ts
  packages/port-search/port.ts
Due: deno fmt, deno run -A --no-lock npm:markdown-toc-gen@1 insert

refactor(port-hooks): move to deno 2 and refactor usages
  .github/workflows/port-hooks.yml
  packages/port-hooks/README.md
  packages/port-hooks/deno.json
  packages/port-hooks/deno.jsonc
  packages/port-hooks/deno.lock
  packages/port-hooks/deps.ts
  packages/port-hooks/dev_deps.ts
  packages/port-hooks/egg.json
  packages/port-hooks/mod.js
  packages/port-hooks/mod.test.ts
  packages/port-hooks/port.ts
Due: deno fmt, deno run -A --no-lock npm:markdown-toc-gen@1 insert

refactor(utils): move to deno 2 and refactor usages
  .github/workflows/utils.yml
  packages/utils/LICENSE
  packages/utils/deep-swap.js
  packages/utils/deep-swap.test.js
  packages/utils/deno.json
  packages/utils/deno.jsonc
  packages/utils/deno.lock
  packages/utils/dev_deps.js
  packages/utils/hyper-err.js
  packages/utils/hyper-err.test.js
Due: deno fmt

refactor(port-crawler): move to deno 2 and refactor usages
  .github/workflows/port-crawler.yml
  packages/port-crawler/README.md
  packages/port-crawler/deno.json
  packages/port-crawler/deno.jsonc
  packages/port-crawler/deno.lock
  packages/port-crawler/deps.ts
  packages/port-crawler/dev_deps.ts
  packages/port-crawler/egg.json
  packages/port-crawler/mod.js
  packages/port-crawler/mod.test.ts
  packages/port-crawler/port.ts
Due: deno fmt, deno run -A --no-lock npm:markdown-toc-gen@1 insert

refactor(core): move to deno 2 and refactor usages
  .github/workflows/core.yml
  packages/core/README.md
  packages/core/deno.json
  packages/core/deno.jsonc
  packages/core/deno.lock
  packages/core/deps.ts
  packages/core/dev_deps.ts
  packages/core/lib/hooks/mod.ts
  packages/core/lib/mod.ts
  packages/core/lib/queue/job.ts
  packages/core/lib/utils/mod.ts
  packages/core/mod.ts
  packages/core/ports.ts
  packages/core/types.ts
  packages/core/utils/event-mgr.test.ts
Due: deno fmt, deno run -A --no-lock npm:markdown-toc-gen@1 insert

refactor(app-express): move to deno 2 and refactor usages
  .github/workflows/app-express.yml
  packages/app-express/LICENSE
  packages/app-express/README.md
  packages/app-express/api/mod.ts
  packages/app-express/api/storage.ts
  packages/app-express/deno.json
  packages/app-express/deno.jsonc
  packages/app-express/deno.lock
  packages/app-express/deps.ts
  packages/app-express/dev_deps.ts
  packages/app-express/harness.ts
  packages/app-express/main.ts
  packages/app-express/types.ts
  packages/app-express/utils.ts
Due: deno fmt, deno run -A --no-lock npm:markdown-toc-gen@1 insert

chore(connect): bump deno deps and node harness deps
  packages/connect/deno.json
  packages/connect/deno.lock
  packages/connect/deno/deps.deno.ts
  packages/connect/deno/deps.node.ts
  packages/connect/deno/dev_deps.ts
  packages/connect/node/package.json
Due: deno fmt

fix(connect): add strictResource flag to ensure resource is not nullish when required
  packages/connect/deno/services/cache.ts
  packages/connect/deno/services/data.ts
  packages/connect/deno/services/search.ts
  packages/connect/deno/services/storage.ts
  packages/connect/deno/tests/cache.test.ts
  packages/connect/deno/tests/data.test.ts
  packages/connect/deno/tests/hyper-request.test.ts
  packages/connect/deno/tests/search.test.ts
  packages/connect/deno/tests/storage.test.ts
  packages/connect/deno/types.ts
  packages/connect/deno/utils/hyper-request.ts
Due: deno fmt

fix(connect): require destroy confirmation to be strictly true
  packages/connect/deno/services/cache.ts
  packages/connect/deno/services/data.ts
  packages/connect/deno/services/queue.ts
  packages/connect/deno/services/search.ts
  packages/connect/deno/services/storage.ts
  packages/connect/deno/tests/cache.test.ts
  packages/connect/deno/tests/data.test.ts
  packages/connect/deno/tests/queue.test.ts
  packages/connect/deno/tests/search.test.ts
  packages/connect/deno/tests/storage.test.ts
Due: deno fmt

ci(connect): bump actions to latest and use latest deno and node LTS
  .github/workflows/connect.yml
Due: none

refactor(connect): handroll simple Either in lieu of crocks. adjust deno permissions
  .github/workflows/connect.yml
  packages/connect/Makefile
  packages/connect/deno.json
  packages/connect/deno.lock
  packages/connect/deno/deps.deno.ts
  packages/connect/deno/deps.node.ts
  packages/connect/deno/utils/either.js
  packages/connect/deno/utils/hyper-verify.ts
  packages/connect/package.json
  packages/connect/yarn.lock
Due: deno fmt

build: microbundle targets node. Add node: prefix to node std libs
  packages/connect/deno/deps.node.ts
  packages/connect/package.json
  packages/connect/yarn.lock
Due: deno fmt

ci(repo): use latest action version in tag-and-release
  .github/workflows/tag-and-release.yml
Due: none

Path conditions:
  deno fmt: (any of: **/*.{md,json,js,ts}) or (any of: **/README.md)
  deno run -A --no-lock npm:markdown-toc-gen@1 insert: any of: **/README.md
